</main>
<footer class="footer">
  <span><img class="cc" src="{{ "cc.svg" | absURL }}"/> {{ now.Year }} <a href="{{ "" | absURL }}">{{ .Site.Title }}</a></span>
  <span>&middot;</span>
  <span>Ruud van den Hooff</span>
</footer>
<script src="{{ "highlight.min.js" | absURL }}"></script>
<script src="{{ "scroll-progress.min.js" | absURL }}"></script>
<script>
  hljs.initHighlightingOnLoad();
document.addEventListener("DOMContentLoaded", function (event) {
		progressJS.start();
});
</script>
</body>
</html>
